Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  portability-*,
  misc-*,
  cert-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-unchecked-string-to-number-conversion,
  -bugprone-random-generator-seed,
  -misc-include-cleaner,
  -misc-predictable-rand,
  -cert-err33-c,
  -cert-err34-c,
  -cert-msc30-c,
  -cert-msc32-c,
  -cert-msc50-cpp,
  -cert-msc51-cpp
WarningsAsErrors: ''
HeaderFilterRegex: '^\./(ball|paddle|leaderboard|resource)\.h$'
FormatStyle: none
